:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;


}

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}

body > *{
  grid-column: 2;
}
